nav{
    display: none;
}


@media (min-width: 576px)  and (max-width: 991px) {
    body {
        background-color: #327535;   
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 20vw;
        margin-bottom: 20px;
    }

    nav>ul>a {
        padding: 10px 20px;
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media(min-width: 992px) {

    nav{
        display: block;
    }

    body {
        background-color: #232C4A;   
    }

    header{
        display: flex;
        align-items: center;
        padding: 20px;
        font-family: Arial Black;
    }

    .logo{
        width: 10vw;
        height: auto;
    }

    nav>ul>a{
        color: white;
        text-decoration: none;
        border: 2px solid #FF6A3D;
        padding: 10px 60px;
        margin-left: 20px;
    } 

    .line1{
        width: 100%;
        height: 2px;
        background-color: #FF6A3D;
        margin: 1px;
        color: #FF6A3D;
    }

    h2{
        color:#BFC1C5;
        display: flex;
        justify-content: center;
        font-family: Arial Black;
    }

    .sushi{
        width: 100%;
        height: 330px;
    }

    .line2{
        width: 100%;
        height: 2px;
        background-color: #FF6A3D;
        margin: 1px;
        margin-top: 15px;
        color: #FF6A3D;
    }

    h1{
        color:#BFC1C5;
        font-family: Arial Black;

    }

    .adres{
        color:#BFC1C5;
        font-family: Arial Black;
    }

    .line3{
        width: 100%;
        height: 2px;
        background-color: #FF6A3D;
        margin: 1px;
        margin-top: 100px;
        color: #FF6A3D;
    }

      /* dit is voor de dagen dat we open zijn en de tijden dat we open zijn op de landding pagina */

    .openingstijden{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .openingstijden>h3{
        color: #ffffff;
        border: 2px solid #FF6A3D;
        padding: 10px 20px;
        font-size: 16px;
        width: 15vw;
        font-family: Arial Black;        
    }

    .opening{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;  
    }

    .opening>h3{
        border: 2px solid #FF6A3D;
        color: #ffffff;
        padding: 10px 20px;
        font-size: 16px;
        width: 15vw;
        font-family: Arial Black;     
    }



    /* dit is voor de reserveer en telefoon knop op de landding pagina */

    .reserveer{
        color: #BFC1C5;
        background-color: #FF6A3D;
        font-family: Arial Black;
        width: 30vw;
        height: 6vh;
        text-align: center;
        border: none;
        cursor: pointer;

    }

    .telefoon{
        color: #BFC1C5;
        background-color: #FF6A3D;
        font-family: Arial Black;
        width: 30vw;
        height: 6vh;
    }

    .algemeen{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .line4{
        width: 100%;
        height: 2px;
        background-color: #FF6A3D;
        margin: 1px;
        color: #FF6A3D;
    }

    /* dit is voor de foto's van de sushi's op de landding pagina */

    .salmon{
        width: 70vw;
        height: 39vh;
        margin-top: 10px;
        margin-left: 200px;
        
    }

    .Sushi1{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 200px;
        margin-right: 230px;
        
    
    }

    .california{
        width: 27vw;
        height: 30vh;
       
    }

    .crispy_chicken{
        width: 27vw;
        height: 30vh;
    }

    .Sushi2{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 300px;
        margin-right: 330px;        
    }

    .dragon{
        width: 20vw;
        height: 30vh;
    }

    .tempura{
        width: 20vw;
        height: 30vh;
    }

    .line5{
        width: 100%;
        height: 2px;
        background-color: #FF6A3D;
        margin-top: 15vh;
        color: #FF6A3D;
    }



    .contact_footer1{
        font-family: Arial Black;
        color: #BFC1C5;

    }

    .contact_footer2{
        font-family: Arial Black;
        color: #BFC1C5;

    }

    .contact_footer{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 200px;
        margin-right: 200px;

    }



    



    





}