


@media (min-width: 576px)  and (max-width: 991px) {
    body {
        background-color: #327535;   
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 20vw;
        margin-bottom: 20px;
    }

    nav>ul>a {
        padding: 10px 20px;
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media(min-width: 992px) {
    body {
        background-color: #232C4A;   
    }

    header{
        display: flex;
        align-items: center;
        padding: 20px;
        font-family: Arial Black;
    }

    .logo{
        width: 10vw;
        height: auto;
    }

    nav>ul>a{
        color: white;
        text-decoration: none;
        border: 2px solid #FF6A3D;
        padding: 10px 60px;
        margin-left: 20px;
    } 

}